page-main {
    .cont1{
        display: flex;
        box-shadow: 2px 2px 4px 2px;
       
    }

    .teamA{
        height:40%;
        width:60%;
        background-color: rgba(223, 231, 241, 0.836);
        opacity: 0.6;
        

       
    }
    
    .teamB{
        height:40%;
        width:60%;
        background-color: rgba(24, 25, 54, 0.973);
        opacity: 0.6;
    }

    ion-card.card{
        box-shadow: 2px 2px 4px 2px;
    }
    
  
    ion-item{

        align-content: center;
        float: right;
        margin: 0;
        margin-left: -100px;
    }
    
    .bg{

        background-image: url("../../assets/imgs/7.jpg");
     
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
    }
    .button{
        width:50%;
        box-shadow: 2px 2px 4px;
        background-color:  rgba(16, 14, 32, 0.705); 
     
    }
    .button1{
        width:100%;
        
    }
    .undo{
        width: 26.425%;
    }
    ion-label{
        font-size: 28px;
        
    }
    
}
